/**** CASCADING STYLE SHEET ****/

/**** Defaults for standard elements ****/

body {
	background-color: #222;
	font-family: 'Titillium Web', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: white; 
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
    overflow: hidden; 
    box-sizing: border-box;
}

header {
    height: 120px;
    padding: 25px 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 120px);
    padding: 30px 0px;
    box-sizing: border-box;
}

div {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-size: 3.5rem;
    color: white;
    text-align: center;
    margin: 0px;
}

p {
    text-align: center;
    margin: .5rem 0px; 
}


/**** IDs for specific elements ****/

#overlay {
    position: absolute;
    z-index: 2;
    background-color: #222;
    height: 270px;
    width: 270px;
    top: 140px;
    left: calc(50% - 135px);
    border: 4px solid #bada55;
    border-radius: 5px;
    padding: 15px;
    visibility: hidden;
    animation: pulse0 3s infinite;
}

#congrats {
    font-size: 2rem;
    font-weight: 700;
}

#new-game {
    color: #bada55;
    font-size: 1.7em;
    font-weight: 700;
}

#new-game:hover {
    color: #d9fa6e;
    cursor: pointer;
}

#game-board {
    position: absolute;
    height: 270px;
    width: 270px;
    top: 140px;
    left: calc(50% - 135px);
    visibility: visible;
}

#light-grid {
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 270px;
    cursor: pointer;
}

#best {
    position: absolute;
    width: 270px;
    height: 60px;
    top: 420px;
    left: calc(50% - 135px);
}

#best-moves {
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
	margin: 0px;  
}

#mode {
    position: absolute;
    width: 270px;
    height: 60px;
    top: 470px;
    left: calc(50% - 135px);
}

#glow-mode {
    text-transform: uppercase;
	margin: 0px;  
}

#mode-switch {
    color: #222;
    background-color: #bada55;
    height: 1.3em;
    border-radius: 3px;
    cursor: pointer;
    animation: pulse0 3s infinite; 
}


/**** Classes for custom styles ****/

.outline{
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: #222;
}


/* LIGHTS */

.light-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.light {
    background-color: #222;
    height: 45px;
    width: 45px;
    margin: 3px;
    border: 2px solid #333; 
    border-radius: 3px;
    animation: none; /* assigned by JS based on color */
}


/* ANIMATED GLOW - 8 DIFFERENT COLORS */

@keyframes pulse0 {
	0% {
		box-shadow: 0 0 15px 0px rgba(186, 218, 85, 0.2);
	}

	40% {
		box-shadow: 0 0 15px 2px rgba(186, 218, 85, 0.8);
	}

	100% {
		box-shadow: 0 0 15px 0px rgba(186, 218, 85, 0.2);
	}
}

@keyframes pulse1 {
	0% {
		box-shadow: 0 0 15px 0px rgba(253, 161, 107, 0.2);
	}

	40% {
		box-shadow: 0 0 15px 2px rgba(253, 161, 107, 0.8);
	}

	100% {
		box-shadow: 0 0 15px 0px rgba(253, 161, 107, 0.2);
	}
}

@keyframes pulse2 {
	0% {
		box-shadow: 0 0 15px 0px rgba(255, 229, 111, 0.2);
	}

	40% {
		box-shadow: 0 0 15px 2px rgba(255, 229, 111, 0.8);
	}

	100% {
		box-shadow: 0 0 15px 0px rgba(255, 229, 111, 0.2);
	}
}

@keyframes pulse3 {
	0% {
		box-shadow: 0 0 15px 0px rgba(252, 119, 163, 0.2);
	}

	40% {
		box-shadow: 0 0 15px 2px rgba(252, 119, 163, 0.8);
	}

	100% {
		box-shadow: 0 0 15px 0px rgba(252, 119, 163, 0.2);
	}
}

@keyframes pulse4 {
	0% {
		box-shadow: 0 0 15px 0px rgba(203, 119, 252, 0.2);
	}

	40% {
		box-shadow: 0 0 15px 2px rgba(203, 119, 252, 0.8);
	}

	100% {
		box-shadow: 0 0 15px 0px rgba(203, 119, 252, 0.2);
	}
}

@keyframes pulse5 {
	0% {
		box-shadow: 0 0 15px 0px rgba(119, 132, 252, 0.2);
	}

	40% {
		box-shadow: 0 0 15px 2px rgba(119, 132, 252, 0.8);
	}

	100% {
		box-shadow: 0 0 15px 0px rgba(119, 132, 252, 0.2);
	}
}

@keyframes pulse6 {
	0% {
		box-shadow: 0 0 15px 0px rgba(120, 252, 241, 0.2);
	}

	40% {
		box-shadow: 0 0 15px 2px rgba(120, 252, 241, 0.8);
	}

	100% {
		box-shadow: 0 0 15px 0px rgba(120, 252, 241, 0.2);
	}
}

@keyframes pulse7 {
	0% {
		box-shadow: 0 0 15px 0px rgba(119, 252, 159, 0.2);
	}

	40% {
		box-shadow: 0 0 15px 2px rgba(119, 252, 159, 0.8);
	}

	100% {
		box-shadow: 0 0 15px 0px rgba(119, 252, 159, 0.2);
	}
}

