/**** CASCADING STYLE SHEET ****/

/*
    This sheet does not need to be edited unless you want to.
*/

/**** Defaults for standard elements ****/

body {
	background-color: #222;
	font-family: 'Titillium Web', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: white; 
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
    overflow: hidden; 
    box-sizing: border-box;
}

header {
    height: 100px;
    padding: 15px 120px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 100px);
    padding: 30px 120px;
    box-sizing: border-box;
}

section {
    display: flex;
    position: relative;
    margin: 0px;
    padding: 15px;
    justify-content: center;
    align-content: center;
}

div {
    position: relative;
	margin: 0px;
	padding: 0px;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 0px;
}

h2 { 
	font-size: 1.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
}

h3 {
    font-size: 2rem;
    text-align: center;
    margin: 0px; 
}

p {
    margin: .5rem 0px; 
}

button {
    height: 2.3rem;
    width: 120px;
    padding: 3px;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    background-color: #222;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    opacity: 0.80;
}

button:focus {
    outline: 0;
}


/**** IDs for specific elements ****/

#page-title {
	color: white;
	text-align: center;
	margin: 0px 0px 10px;  
}

#best-moves {
    color: #bada55;
    font-size: 2rem;
    font-weight: 700;
	text-align: center;
	margin: 0px;  
}

#light-grid {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
}

#congrats {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

#current-moves {
    text-align: center;
}

#new-game {
    color: #bada55;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
}


/**** Classes for custom styles ****/

.light-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.above-grid {
    display: flex;
    flex-direction: column;
    height: 80;
    justify-content: center;
}

.below-grid {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
}

/* LIGHTS */

.light {
    background-color: #bada55; /* badass */
    height: 50px;
    width: 50px;
    margin: 3px;
    border: 2px solid #bada55; /* more badass */
    border-radius: 3px;
    box-shadow: 0px 0px 15px 0px #bada55; /* even more badass! */  
    animation: pulse 3s infinite;  
}


@keyframes pulse {
	0% {
		box-shadow: 0 0 15px 0px rgba(186, 218, 85, 0.2);
	}

	40% {
		box-shadow: 0 0 15px 2px rgba(186, 218, 85, 0.8);
	}

	100% {
		box-shadow: 0 0 15px 0px rgba(186, 218, 85, 0.2);
	}
}
